<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".NextEventWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_next_event_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/next_event_widget_info" />
        </receiver>

        <receiver
            android:name=".NowNextWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_now_next_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/now_next_widget_info" />
        </receiver>
    </application>

</manifest>
